<div>
  <h2>Game Rules</h2>
  <p>• Program chooses a random secret number with 4 digits</p>
  <p>• All digits in the secret number are different</p>
  <p>• Player has 8 tries to guess the secret number</p>
  <p>
    • After each guess you are able to show the message "M:m; P:p" where
    m - number of matching digits but not on the right places
    p - number of matching digits on exact places
  </p>
  <p>• Game ends after 8 tries or if the correct number is guessed</p>

  <button mat-raised-button color="primary" class="user-form-button" (click)="openDialog()">
    Start Game
  </button>
</div>
